@model string
<div className="row">
    <footer id="footer" className="content-info col-xs-12" role="contentinfo">
        <div className="row">
            <div className="col-md-offset-2 col-md-8">
                <ul id="footer-navigation">
                    <li>
                        <span title="@Model">&copy;</span>
                        2018
                        CanadaHelps.org
                    </li>
                    <li className="menu-contact-us">
                        <a title="Contact us" href="/en/contact-us/" target="_blank">
                            Contact Us
                        </a>
                    </li>
                    <li className="menu-faqs">
                        <a title="Help" href="http://donorhelp.canadahelps.org/en/" target="_blank">
                            Help
                        </a>
                    </li>
                    <li className="menu-terms-of-use">
                        <a title="Terms Of Use" href="/en/terms-of-use/" target="_blank">
                            Terms Of Use
                        </a>
                    </li>
                    <li className="menu-privacy-policy">
                        <a title="Privacy Policy" href="/en/privacy-policy/" target="_blank">
                            Privacy Policy
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</div>
