@model string
<div className="row">
    <footer id="footer" className="content-info col-xs-12" role="contentinfo">
        <div className="row">
            <div className="col-md-offset-2 col-md-8">
                <ul id="footer-navigation">
                    <li>
                        <span title="@Model">&copy;</span>
                        2018
                        CanaDon.org
                    </li>
                    <li className="menu-contact-us">
                        <a title="Contactez-nous" href="/fr/contactez-nous/" target="_blank">
                            Contactez-nous
                        </a>
                    </li>
                    <li className="menu-faqs">
                        <a title="Aide" href="http://donorhelp.canadahelps.org/fr/" target="_blank">
                            Aide
                        </a>
                    </li>
                    <li className="menu-terms-of-use">
                        <a title="Politique d’utilisation" href="/fr/politique-dutilisation/" target="_blank">
                            Politique d’utilisation
                        </a>
                    </li>
                    <li className="menu-privacy-policy">
                        <a title="Confidentialité et sécurité" href="/fr/confidentialite-et-securite/" target="_blank">
                            Confidentialité et sécurité
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</div>
