<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <appSettings xdt:Transform="RemoveAttributes(file)">
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="DBConnectionString" value="Data Source=SQL1;failover partner=SQL2;Initial Catalog=ServiceTasks_prod;Integrated Security=true;MultipleActiveResultSets=True;App=EntityFramework;"/>
  </appSettings>
</configuration>