<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="EventLog_ExtraInfo_LogName" value="CHO_Info" />
    <add key="EventLog_ExtraInfo_SourceName" value="Application" />
    <add key="EventLogName" value="Application" />
    <add key="Threads" value="1" />
    <add key="SleepTime" value="10000" />
    <add key="TaskType" value="MandrillEmail" />
    <add key="DBConnectionString" value="data source=SQL2-DEV;initial catalog=ServiceTasks_dev;pwd=JoAnn*67;uid=sa;MultipleActiveResultSets=True;App=EntityFramework" />
  </appSettings>
</configuration>