<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/54c260ff-5761-47c0-bb75-aa487abc2c9d/resourceGroups/jetdocker/providers/Microsoft.ContainerRegistry/registries/JetContainer</ResourceId>
    <ResourceName>JetContainer</ResourceName>
    <ResourceGroup>jetdocker</ResourceGroup>
    <Subscription>Visual Studio Enterprise</Subscription>
    <RegistryUrl>https://jetcontainer.azurecr.io/</RegistryUrl>
    <UserName>JetContainer</UserName>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>270c5a80-dad1-45b4-b563-077db256a563</ProjectGuid>
  </PropertyGroup>
</Project>